extends layout

block content
  h1= title
  p Welcome to #{title}

  div.add
    a(href="/new") Add a new message

  main
    each message in messages
      div.message
        h3= message.user ? message.user : "Anonymous"
        h2= message.text 
        p Posted #{formatDistanceToNow(message.added, {includeSeconds: true})} ago