extends layout

block content
  h1= title
  p Welcome to #{title}

  div.add
    a(href="/new") Add a new message

  main
    each message in messages
      div.message
        h2= message.text
        h3= message.user 
        p= message.added 